.contact-section {
    display: flex;
    justify-content: space-between;
    background-color: #649628;
    flex-direction: row;
    height: 380px;
    font-size: 18px;
    color: white;
    width: 100%;
    font-weight: 300;
    box-shadow: -5px -6px 5px rgb(188, 188, 188);
    overflow: hidden;
}

.contact-text {
    flex: 2.5;
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin: 3% 5% 10% 3%;
    text-align: left;
}

.contact-text a:visited {
    color: white;
    text-decoration: none;
}

.contact-text a {
    color: white;
    text-decoration: none;
}

.contact-text a:hover {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.contact-title {
    font-size: 2em;
    margin-bottom: 3%;
}

.shop-pic-section {
    flex: 1;
    height: auto;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
    margin-right: -20px;
}


.shop-front-pic {
    max-height: auto;
    width: 100%;
    
    border-radius: 10px;
    opacity: 0.95;

    margin-bottom: 10%;
    
}

@media (max-width: 799px) {
   

    .contact-title {
        font-size: 1.5em;
    }

    .contact-details {
        font-size: 15px;

    }

    .contact-section {
        height: 300px;
    }


  
}