body {
    font-family: helvetica;
    display: grid;
    grid-template-rows: 1ft 1ft 1ft 1ft 1ft;
}

.treatment-section {
    display: flex;
    justify-content: space-between;
    background-color: #fffef8;
    flex-direction: column;
    height: 600px;
    font-size: 30px;
    color: rgb(52, 52, 52);
    box-shadow: -8px -10px 5px rgb(188, 188, 188);
}


