.service-section {
    display: flex;
    justify-content: space-between;
    background-color: #fffef8;
    flex-direction: column;
    max-height: 1100px;
    font-size: 30px;
    color: rgb(52, 52, 52);
    box-shadow: -8px -6px 5px rgb(188, 188, 188);
    overflow: scroll;
}

.serv-section-title {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content:center;
    border-bottom: 2px solid #413010;
    margin-top: 10%;
    margin-left: 2%;
    margin-right: 2%;
}

.services-title-eng {
    flex: 1;
    font-size: 60px;
    margin-top: auto;
    margin-bottom: 10px;
    text-align: right;
    margin-right: 2%;
    opacity: 0.95;
 
}

.services-title-chinese {
    flex: 4;
    font-size: 40px;
    color: #827167;
    margin-top: auto;
    margin-bottom: 14px;
    opacity: 0.95;

}

.serv-section-body {
    flex: 4;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    margin: 4%;
    max-height: 100%;
}

.services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1%;
    text-align: center;
    justify-content: space-between;
}

.services a{
    height: 20px;
    width: 70%;
    padding: 20% 5% 40% 5%;
    border-radius: 15px;
    font-size: 21px;
    box-shadow: 1px 1px 5px rgb(188, 188, 188);
    opacity: 0.95;
    text-decoration: none;
    font-weight: 310;
    font-size: 30px;
}

.foot-pedicure, .other-services {
    background-color: #5e8c3e;
    color: #ffffff;
}

.remedial-massage, .foot-massage {
    background-color: #f7efdc;
    color: #623c0e;
}

.foot-pedicure, .remedial-massage {
    margin-bottom: 10%;

}

.serv-pic {
    position: relative;
    border-radius: 20px;
   
}

.chair-pic {
    width: 50%;
    min-width: 100px;
    position: absolute;
    margin-left: 45%;
    margin-top: 40%;
    border-radius: 10px;
    box-shadow: 10px -10px 10px rgb(154, 154, 154);
    opacity: 0.95;
}

.room-pic {
    width: 45%;
    min-width: 100px;
    position: absolute;
    margin-left: 10%;
    border-radius: 10px;
    box-shadow: 7px -5px 20px rgb(82, 82, 82);
    opacity: 0.95;

}

@media (min-width: 1200px) and (max-width: 1400px) {

    .service-section a {
        font-size: 25px;
    }
    
    
}

@media (min-width: 900px) and (max-width: 1199px) {
    .service-section a {
        font-size: 20px;
    }
    .services-title-eng {
        font-size: 40px;
    }
    .services-title-chinese {
        font-size: 25px;
    }
  
}


@media (min-width: 721px) and (max-width: 899px) {
    .service-section a {
        font-size: 17px;
    }
    .services-title-eng {
        font-size: 30px;
    }
    .services-title-chinese {
        font-size: 20px;
    }
  
}

@media (min-width: 501px) and (max-width: 720px) {
    .service-section a {
        font-size: 13px;
    }
    .services-title-eng {
        font-size: 30px;
    }
    .services-title-chinese {
        font-size: 20px;
    }
  
}

@media (max-width: 500px) {
    .service-section a {
        font-size: 10px;
    }
    .services-title-eng {
        font-size: 20px;
    }
    .services-title-chinese {
        font-size: 12px;
    }
  
}